#register
{
    position: absolute;
    top: 10px;
    right: 160px;
}

#login
{
    position: absolute;
    top: 10px;
    right: 90px;
}
#account
{
    position: absolute;
    top: 10px;
    right: 160px;
}
#logout
{
    position: absolute;
    top: 10px;
    right: 90px;
}