#register
{
    position: absolute;
    top: 10px;
    right: 80px;
}

#login
{
    position: absolute;
    top: 10px;
    right: 0;
}
#account
{
    position: absolute;
    top: 10px;
    right: 80px;
}
#logout
{
    position: absolute;
    top: 10px;
    right: 0;
}