{% extends "base.html" %}
{% block content %}
<style>
    .contact-wrapper{
        padding-left: 1%;
    }
    .contact-wrapper h5{
        padding-left: 0.7%;
    }



</style>
<div class="contact-wrapper" style="position:absolute;">
    <div style="margin-left: 150%; position:absolute;">
<img src="http://static-maps.yandex.ru/1.x/?ll={{ ll }}&l=map&z=17&pt={{ ll }},pm2bll&size=650,450">
        </div>
    <h1 style="text-align:left">Разработчики</h1>
    <br>
    <h3>Репозиторий сайта: </h3> <h5><a href="https://github.com/tamco61/WebChurchOnFlask" class="text-secondary">https://github.com/tamco61/WebChurchOnFlask</a>
</h5>

    <h3>Гит хабы разработчиков: </h3>
    <h5>
        <a href="https://github.com/tamco61" class="text-secondary">https://github.com/tamco61</a>
        <br>
        <a href="https://github.com/slewie" class="text-secondary">https://github.com/slewie</a>

    </h5>
    <h3>Почта: <br><h5 class="text-secondary">vrscrouch@gmail.com
</h5></h3>
</div>
{% endblock %}